.table {
  color: white;
  border-color: #00ff85;
}

.table thead th {
  background-color: #38003c;
  color: #00ff85;
}

.btn-edit, .btn-delete, .btn-join {
  background-color: #00ff85 !important;
  color: #38003c !important;
  border-color: #00ff85 !important;
}

.btn-edit:hover, .btn-delete:hover, .btn-join:hover {
  background-color: #04f5ff !important;
  color: white !important;
}
